  PRIMARY KEY (`MobXTrigger_ID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;

-- Listage des donnÃ©es de la table dol.mobxtrigger : ~0 rows (environ)
DELETE FROM `mobxtrigger`;
/*!40000 ALTER TABLE `mobxtrigger` DISABLE KEYS */;
/*!40000 ALTER TABLE `mobxtrigger` ENABLE KEYS */;

-- Listage de la structure de la table dol. namepermissions
DROP TABLE IF EXISTS `namepermissions`;
CREATE TABLE IF NOT EXISTS `namepermissions` (
  `PermissionID` varchar(255) NOT NULL,
  `TargetPlayerID` varchar(255) NOT NULL,
  `SourcePlayerID` varchar(255) NOT NULL,
  `GrantedDate` datetime NOT NULL DEFAULT '2000-01-01 00:00:00',
  `LastTimeRowUpdated` datetime NOT NULL DEFAULT '2000-01-01 00:00:00',
  `NamePermissions_ID` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`PermissionID`),
  UNIQUE KEY `U_NamePermissions_NamePermissions_ID` (`NamePermissions_ID`),
  KEY `I_NamePermissions_TargetPlayerID` (`TargetPlayerID`),
  KEY `I_NamePermissions_SourcePlayerID` (`SourcePlayerID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_uca1400_ai_ci;

-- Listage des donnÃ©es de la table dol.namepermissions : ~2Â 136 rows (environ)
DELETE FROM `namepermissions`;
/*!40000 ALTER TABLE `namepermissions` DISABLE KEYS */;
INSERT INTO `namepermissions` (`PermissionID`, `TargetPlayerID`, `SourcePlayerID`, `GrantedDate`, `LastTimeRowUpdated`, `NamePermissions_ID`) VALUES
	('000f0251-0952-4cbf-b6a9-8db657d28bc8', 'f2fb2c9f-b54b-47a4-b775-71c13d04884a', 'ff2b134d-1652-4025-9c7e-a374b5c9a39e', '2026-01-16 20:11:26', '2026-01-16 20:11:26', 'ef8eb31a-c07e-4208-952d-32559091fcb2'),
	('00196f50-52a8-4a5a-8508-e2a1f1f907d1', 'e4b39740-702c-4227-b55f-3d11c09896b0', '81bc3820-181b-4b47-abef-955ae715bcaa', '2026-02-01 19:42:14', '2026-02-01 19:42:14', 'ede706b0-06a1-4cf9-a235-33c8cde43487'),
	('00507126-1d87-4a8e-bab2-46d3720346e6', 'bcb0fa35-2556-4fcc-8080-51a0d24099f4', 'bc3e767f-7c75-46f6-baf6-18a141b83d4d', '2026-02-17 19:55:35', '2026-02-17 19:55:35', '866c8121-ed39-4d7b-a552-bdd27e76e5f7'),
