-- Listage de la structure de la table dol. dataquest
DROP TABLE IF EXISTS `dataquest`;
CREATE TABLE IF NOT EXISTS `dataquest` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(255) NOT NULL,
  `StartType` tinyint(3) unsigned NOT NULL,
  `StartName` varchar(100) NOT NULL,
  `StartRegionID` smallint(5) unsigned NOT NULL,
  `AcceptText` varchar(100) DEFAULT NULL,
  `Description` text DEFAULT NULL,
  `SourceName` text DEFAULT NULL,
  `SourceText` text DEFAULT NULL,
  `StepType` text DEFAULT NULL,
  `StepText` text DEFAULT NULL,
  `StepItemTemplates` text DEFAULT NULL,
  `AdvanceText` text DEFAULT NULL,
  `TargetName` text DEFAULT NULL,
  `TargetText` text DEFAULT NULL,
  `CollectItemTemplate` text DEFAULT NULL,
  `MaxCount` smallint(5) unsigned NOT NULL,
  `MinLevel` tinyint(3) unsigned NOT NULL,
  `MaxLevel` tinyint(3) unsigned NOT NULL,
  `RewardMoney` text DEFAULT NULL,
  `RewardXP` text DEFAULT NULL,
  `OptionalRewardItemTemplates` text DEFAULT NULL,
  `FinalRewardItemTemplates` text DEFAULT NULL,
  `FinishText` text DEFAULT NULL,
  `QuestDependency` text DEFAULT NULL,
  `ClassType` text DEFAULT NULL,
  `AllowedClasses` varchar(200) DEFAULT NULL,
